:root {
  --background: #ffebef;
  --calculatorbackgroud: #65a695;
  --screen: #d4f2b8;
  --button: #d4f2b8;
  --font: black;
  --border: #020202;
  --icon: #ff007f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
  min-width: 100vw;
}

body {
  background-color: var(--background);
  font-family: "Righteous", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  color: var(--font);
  line-height: 2;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  height: 75vh;
  min-height: 500px;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 10px;
}

.calculator {
  position: absolute;
  background-color: var(--calculatorbackgroud);
  border-radius: 5px;
  width: 400px;
  border: 2px var(--border) solid;
  border-radius: 15px;
  padding: 20px;
}

.screen {
  background-color: var(--screen);
  border: 2px black solid;
  width: 350px;
  height: 90px;
}
.buttons-grid {
  margin-top: 20px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-template-areas: 
      " a b c d "
      " e f g h "
      " i j k l "
      " m n o p "
      " q r s t " 
  ;
}
#decimal{
  grid-area: s;
}
#delete{
  grid-area: q;
}
#backspace {
  grid-area: d;
}
#add{
  grid-row: 3/5;
  grid-column: 4/5;
}
#equal {
  grid-area: t;
}
#number0 {
  grid-area: r;
}
#number1 {
  grid-area: m;
}
#number2 {
  grid-area: n;
}
#number3 {
  grid-area: o;
}
#number4 {
  grid-area: i;
}
#number5{
  grid-area: j;
}
#number6{
  grid-area: k;
}
#number7{
  grid-area: e;
}
#number8{
  grid-area: f; 
}
#number9{
  grid-area: g; 
}

.button {
  border: none;
  padding: 20px;
  font-family: "Righteous", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: medium;
  border-radius: 5px;;
}

footer {
  position: absolute;
  justify-content: center;
  display: flex; /* makes in line icon with text */
  bottom: 0;
  width: 100vw;
  height: 40px;
  font-size: 20px;
}

.fa-github-alt {
  margin-top: 9px;
  font-size: x-large;
  padding-left: 10px;
}

.fa-github-alt:hover {
  cursor: pointer;
  color: var(--icon);
}
