:root {
  --calculatorbackgroud: #65a695;
  --screen: #d4f2b8;
  --button: #d4f2b8;
  --font: black;
  --border: #020202;
  --icon: #ff007f;
  --text2: #808080;
  --buttonBackground: #e0f5ce;
  --buttonHoverText: #ff198c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  position: relative;
  min-height: 100%;
  min-width: 100vw;
}

body {
  font-family: "Righteous", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  color: var(--font);
  line-height: 2;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  height: 75vh;
  min-height: 500px;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 10px;
}

.calculator {
  position: absolute;
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
  border-radius: 5px;
  width: 400px;
  border: 2px var(--border) solid;
  border-radius: 15px;
  padding: 20px;
}

.screen {
  background-color: var(--screen);
  border: 2px black solid;
  text-align: right;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

.prevOperation {
  color: var(--text2);
  font-size: 20px;
  padding-right: 5px;
  width: 350px;
  min-height: 32px;
}

.input {
  font-size: 24px;
  color: var(--font);
  padding-right: 5px;
  width: 350px;
  min-height: 64px;
}
.buttons-grid {
  margin-top: 20px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-template-areas:
    " a b c d "
    " e f g h "
    " i j k l "
    " m n o p "
    " q r s t ";
}
#decimal {
  grid-area: s;
}
#allClear {
  grid-area: q;
}
#delete {
  grid-area: d;
}
#add {
  grid-area: p;
}
#divide {
  grid-area: l;
}
#equal {
  grid-area: t;
}
#number0 {
  grid-area: r;
}
#number1 {
  grid-area: m;
}
#number2 {
  grid-area: n;
}
#number3 {
  grid-area: o;
}
#number4 {
  grid-area: i;
}
#number5 {
  grid-area: j;
}
#number6 {
  grid-area: k;
}
#number7 {
  grid-area: e;
}
#number8 {
  grid-area: f;
}
#number9 {
  grid-area: g;
}

.button {
  border: none;
  padding: 20px;
  font-family: "Righteous", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 26px;
  border-radius: 15px;
}

.button:hover {
  background-color: var(--buttonBackground);
  cursor: pointer;
  color: var(--buttonHoverText);
}

footer {
  position: absolute;
  justify-content: center;
  display: flex; /* makes in line icon with text */
  bottom: 0;
  width: 100vw;
  height: 40px;
  font-size: 20px;
}

.fa-github-alt {
  margin-top: 9px;
  font-size: x-large;
  padding-left: 10px;
  color: var(--font);
}

.fa-github-alt:hover {
  cursor: pointer;
  color: var(--icon);
}
